.content1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
  padding-left: 50px;
  background: url('../../assets/a5.jpg') no-repeat center center;
  background-size: cover;
  min-height: 300px;
  box-sizing: border-box;
}

.content1-text {
  padding: 32px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  color: rgb(0, 0, 0);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 50rem;

}

.content1-highlight {
  color: #0543c7;
  margin-top: 16px;
  font-weight: 600;
}

.content1-highlight a {
  color: #4e45ff;
  text-decoration: none;
  margin-right: 12px;
  transition: all 0.3s ease;
}

.content1-highlight a:hover {
  text-decoration: underline;
}

/* Responsive pour mobile */
@media (max-width: 600px) {
  .content1-container {
    flex-direction: column;
    padding: 16px 16px 16px 16px;
    min-height: 200px;
    background-position: center center;
  }
  .content1-text {
    padding: 16px;
    max-width: 95vw;
    width: 100%;
    font-size: 1rem;
    margin: 0 auto;
  }
}
